body{
    background-color: black;
}

table{
    align-content: center;
    color: green;
    border-color: white;
}

button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 10rem;
    border-radius: 10%;
    margin-bottom: 2rem;
}

button:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}