body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #000000, #332b00);
    color: #fdfdfd; 
    min-height: 100vh; 
    overflow-x: hidden;
}


.navbar .btn-outline-dark {
    background-color: black;
    color: white;
    border-color: black;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    cursor: pointer; 
}

.navbar .btn-outline-dark:hover {
    background-color: white;
    color: black;
    border-color: white;
}

.iphone-section {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInScale 1s ease-out forwards;
    opacity: 0; 
    transform: translateY(20px);
}
